body{
    margin: 0;
}

header{
    overflow: auto;
    background-color: rgb(8, 88, 8);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header div{
    display: flex;
    align-items: center;
}

header h1{
    color: white;
}

header input{
    height: 30px;
    border: 0;
    width: 250px;
    border-radius: 10px;
    display: none;
    background-color: #aaa;
    font-size: 18px;
    padding-left: 10px;
}

header img{
    width: 25px;
    margin-left: -40px;
}

.principal > div:nth-child(1){
    width: 100%;
}

.principal > div:nth-child(2){
    width: 100%;
}

.principal .destaque img{
    width: 100%;
}

@media(min-width: 768px){
    header input{
        display: block;
    }
}
header img{
padding: 15px;
background-color: #ddd;
border-radius: 100%;
margin-left: -15px;
}

.principal{
    display: flex;
}

.principal > div:nth-child(1){
    
}